body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    width: 360px;
    margin: 140px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0081e4;
}

input[type="text"] {
    width: calc(100% - 72px);
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-btn {
    padding: 10px 20px;
    background-color: #007add;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    padding: 10px;
    font-size: small;
    font-weight: 500;
    background-color: #f9f9f9;
    border-bottom: 2px solid #eee;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f9f9f9;
}

.delete-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #00ba35;
}
